@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
	--ScissorsGradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
	--PaperGradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
	--RockGradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
	--LizardGradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
	--Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);

	/* ### Neutral */
	--DarkText: hsl(229, 25%, 31%);
	--ScoreText: hsl(229, 64%, 46%);
	--HeaderOutline: hsl(217, 16%, 45%);

	/* ### Background */
	--RadialGradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);

	--fw-medium: 600;
	--fw-bold: 700;
	box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
#app {
	max-width: 1440px;
	margin: 0 auto;
}
button {
  background-color: transparent;
  border: 0;
	cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}
main {
  background-image: radial-gradient(25em at 100% 0%, var(--RadialGradient));
  min-height: 100vh;
  padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.btn--rules {
	/* border: 2px solid var(--HeaderOutline); */
	border: 2px solid #fff;
	padding: 1em 3em;
	text-transform: uppercase;
	color: #fff;
	border-radius: 8px;
	font-weight: var(--fw-medium);
}
/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
.fade-enter-from, .fade-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
.fade-enter-active, .fade-leave-active {
  transition: all .4s linear;
}

.chooseYourWeapon {
	max-width: 400px;
	width: 100%;
	/* min-height: 300px; */
	height: 100%;
	background-image: url("./images/bg-triangle.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
	display: flex;
	justify-content: space-around;
	gap: 2em;
	flex-wrap: wrap;
	/* border: 1px solid; */
	/* align-items: center; */
}
.btn {
	width: clamp(8em, 32vw, 10em);
	height: clamp(8em, 32vw, 10em);
	border-radius: 50%;
	position: relative;
	border: none;
	transition: all .3s linear;
}

.btn--paper {
	background-image: linear-gradient(to bottom, var(--PaperGradient));
	box-shadow: 0 10px 1px -3px rgb(27, 51, 171);
}

.btn--scissors {
	background-image: linear-gradient(to bottom, var(--ScissorsGradient));
	box-shadow: 0px 10px 1px -3px hsl(39, 95%, 31%);
}
.btn--rock {
	background-image: linear-gradient(to bottom, var(--RockGradient));
	box-shadow: 0px 10px 1px -3px hsl(349, 68%, 33%);
}
.btn--imgContainer {
	background-color: #fff;
	width: clamp(6em, 25vw, 8em);
	height: clamp(6em, 25vw, 8em);
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	box-shadow:inset 0px 10px 1px -4px rgba(0, 0, 0, 0.2);
	transition: all .3s linear;
}
.btn:active {
	box-shadow: none;
	transform: translateY(2px);
}
.btn:active .btn--imgContainer {
	box-shadow: none;
}
.weapon {
	width: clamp(2.3em, 10vw + 1em, 3.9em);
}
.yourDestiny {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
}
.yourDestiny p {
	text-transform: uppercase;
	font-weight: var(--fw-medium);
	color: #fff;
	letter-spacing: 1px;
}
.player--choice, .Ai--choice {
	font-size: .9rem;
	margin-top: 2em;
}
.results {
	text-align: center;
}
p.resultDeclaration {
	font-size: 2.5rem;
}
.btn--reset {
	color: var(--DarkText);
	background-color: #fff;
	padding: 1em 3em;
	margin-top: 1em;
	border-radius: 8px;

}
@media (min-width: 375px) {
	.chooseYourWeapon {
		max-width: 400px;
		width: 100%;
	}
	/* .btn {
		width: 10em;
		height: 10em;
	} */

	/* .btn--imgContainer {
		width: 8em;
		height: 8em;
	} */
	/* .weapon {
		width: initial;
	} */
}