@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
	--ScissorsGradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
	--PaperGradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
	--RockGradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
	--LizardGradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
	--Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);

	/* ### Neutral */
	--DarkText: hsl(229, 25%, 31%);
	--ScoreText: hsl(229, 64%, 46%);
	--HeaderOutline: hsl(217, 16%, 45%);

	/* ### Background */
	--RadialGradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);
	--circle1: hsl(214, 47%, 23%);
	--circle2: hsl(237, 49%, 15%);
	--hoverText: hsl(349, 71%, 52%);

	--fw-medium: 600;
	--fw-bold: 700;
	box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
#app {
	max-width: 1440px;
	margin: 0 auto;
	overflow: hidden;
}
.cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
  background-image: radial-gradient(50em at 50% 0%, var(--RadialGradient));
	display: grid;
	place-items: center;
	z-index: 100;
}
.cover__content {
	color: var(--DarkText);
	text-transform: uppercase;
	text-align: center;
	max-width: 350px;
	width: 100%;
	background-color: #fff;
	border-radius: 8px;
	padding: 1em;
}
.cover__content section {
	display: flex;
	justify-content: center;
	gap: 1em;
	flex-wrap: wrap;
	margin-top: 1em;
}
.gameModeBtn {
	padding: 1em 2em;
	border-radius: 8px;
	text-transform: uppercase;
	font-weight: var(--fw-medium);
	color: var(--circle2);

}
.gameModeBtn--normal {
	background-image: linear-gradient(to left, var(--PaperGradient));
}
.gameModeBtn--hard {
	background-image: linear-gradient(to left, var(--RockGradient));
}
button {
  background-color: transparent;
  border: 0;
	cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}
main {
  background-image: radial-gradient(50em at 50% 0%, var(--RadialGradient));
  min-height: 100vh;
  padding: 1em;
	padding-top: 2.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.btn--rules {
	/* border: 2px solid var(--HeaderOutline); */
	border: 2px solid #fff;
	padding: 1em 3em;
	text-transform: uppercase;
	color: #fff;
	border-radius: 8px;
	font-weight: var(--fw-medium);
}
/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
.slide-enter-from, .slide-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
.slide-enter-active, .slide-leave-active {
  transition: all .4s linear;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: all .4s linear;
}
.fade__group-enter-from, .fade__group-leave-to {
  opacity: 0;
}
.fade__group-enter-active,.fade__group-move, .fade__group-leave-active {
  transition: all .4s linear;
}
/* .fade__group-enter-move {
	opacity: 0;
} */
.triangleArena {
	margin-top: 2em;
}
.chooseYourWeapon {
	max-width: 600px;
	width: 100%;
	min-height: 300px;
	height: 100%;
	background-image: url("./images/bg-triangle.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
	display: flex;
	justify-content: space-around;
	gap: 2em;
	flex-wrap: wrap;
	/* border: 1px solid; */
	/* align-items: center; */
	/* background-size: 80%; */
	/* background-color: red; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	gap: 2em;
	justify-content: center;
}
.btn {
	width: clamp(8em, 28vw, 12em);
	height: clamp(8em, 28vw, 12em);
	border-radius: 50%;
	position: relative;
	border: none;
	transition: all .3s linear;
	z-index: 10;
	display: block;

}

.btn--paper {
	grid-column: 1;
	grid-row: 1;
	background-image: linear-gradient(to bottom, var(--PaperGradient));
	box-shadow: 0 10px 1px -3px rgb(27, 51, 171);
}

.btn--scissors {
	grid-column: 2;
	grid-row: 1;
	background-image: linear-gradient(to bottom, var(--ScissorsGradient));
	box-shadow: 0px 10px 1px -3px hsl(39, 95%, 31%);
}
.btn--rock {
	grid-column: 1/-1;
	grid-row: 2;
	justify-self: center;
	background-image: linear-gradient(to bottom, var(--RockGradient));
	box-shadow: 0px 10px 1px -3px hsl(349, 68%, 33%);
}
.btn--imgContainer {
	background-color: #fff;
	width: clamp(6em, 20vw, 9em);
	height: clamp(6em, 20vw, 9em);
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	box-shadow:inset 0px 10px 1px -4px rgba(0, 0, 0, 0.2);
	transition: all .3s linear;
}
.selectedWeapon--btn__container {
	position: relative;
	/* background-color: red; */
	/* display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	place-content: center; */

	display: flex;
	justify-content: center;
	align-items: center;
	width: clamp(8em, 28vw, 12em);
	height: clamp(8em, 28vw, 12em);
}
.selectedWeapon--btn__container .btn {
	grid-column: 1;
	grid-row: 1;
}
/* winner */
/* .winner .circle__container {
	width: 10em;
	height: 10em;
	position: absolute;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	place-content: center;
} */

/* .winner .circle {
	grid-column: 1;
	grid-row: 1;

	background-color: var(--HeaderOutline);
	margin: auto;
	border-radius: 50%; 
}*/

/* .winner .circle--sm {
	width: clamp(10em, 28vw, 15em);
	height: clamp(10em, 28vw, 15em);
	z-index: 3;
	opacity: .4;
} */

/* .winner .circle--md {
	width: clamp(8em, 32vw, 22em);
	height: clamp(8em, 32vw, 22em);

	z-index: 2;
	opacity: .2;
} */

/* .winner .circle--lg {
	width: clamp(8em, 40vw, 30em);
	height: clamp(8em, 40vw, 30em);

	z-index: 1;
	opacity: .1;
} */

.winner .pulse {
	width: inherit;
	height: inherit;

	border-radius: 50%;
	/* background-color: var(--HeaderOutline); */

	position: absolute;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	place-content: center;
	/* margin: auto; */
}
.winner .pulse span {
	grid-column: 1;
	grid-row: 1;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	/* background-color: inherit; */
	background-color: var(--HeaderOutline);
	opacity: .8;

	animation: pulsate 4s ease-out infinite;
	animation-delay: calc(1s * var(--i));
	
	
	/* margin: auto; */
}
@keyframes pulsate {
	100% {
		opacity: 0;
		transform: scale(3);
	}
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

/* .aiBg {
	background-color: var(--DarkText);
	width: 5em;
	height: 5em;
	border-radius: 50%;
	display: inline-block;
} */
.btn:active {
	box-shadow: none;
	transform: translateY(2px);
}
.btn:active .btn--imgContainer {
	box-shadow: none;
}
.weaponImg {
	width: clamp(2.3em, 10vw + 1em, 3.9em);
}
.yourDestiny {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	gap: 2em;
	row-gap: 3.5em;
	transition: all .4s linear;
	/* border: 1px solid; */
	min-height: 340px;
	position: relative;
}

.selectedWeapon {
	display: flex;
	flex-direction: column;
	gap: 2em;
	align-items: center;
	justify-content: space-between;
	/* transition: all .3s linear; */
	min-height: 207px;
	/* min-height: 180px; */
	position: relative;
	/* z-index: 10; */
	/* background-color: red; */
}
.selection__base {
	width: clamp(8em, 28vw, 9em);
	height: clamp(8em, 28vw, 9em);

	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.selection__base__circle {
	width: clamp(5em, 12vw, 6em);
	height: clamp(5em, 12vw, 6em);
	border-radius: 50%;
	background-color: var(--circle2);
}

.player {
	grid-column: 1;
	grid-row: 1;
}
.Ai {
	grid-column: 2;
	grid-row: 1;
}

.results {
	grid-column: 1/-1;
	grid-row: 2;
	clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
	transition: all .4s linear;
	position: relative;
	z-index: 10;
}
/* ! REMOVE============================================================ */
.showResults {
	clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}
.yourDestiny p {
	text-transform: uppercase;
	font-weight: var(--fw-medium);
	color: #fff;
	letter-spacing: 1px;
	position: relative;
	z-index: 10;
}
.selectedWeapon p {
	font-size: .8rem;
}
.results {
	text-align: center;
}
p.resultDeclaration {
	font-size: 2.5rem;
	/* font-size: 1.2rem; */
}
.btn--reset {
	color: var(--DarkText);
	background-color: #fff;
	padding: 1em 3em;
	margin-top: 1em;
	border-radius: 8px;
	text-transform: uppercase;
	font-weight: var(--fw-medium);
	font-size: .9rem;
	transition: all .3s linear;
}
.btn--reset:hover {
	color: var(--hoverText);
}
@media (min-width: 375px) {
	/* .chooseYourWeapon {
		max-width: 400px;
		width: 100%;
	} */
}
@media (min-width: 600px) {

	main {
		padding-inline: 2em;
	}
	.triangleArena {
		margin-top: 0em;
	}
	.yourDestiny {
		display: flex;
		justify-content: center;
		gap: 3em;
		align-items: center;
		min-height: 180px;
	}
	.Ai {
		grid-column: 3;
		grid-row: 1;
	}
	.results {
		grid-column: 2;
		grid-row: 1;
	}
	.selectedWeapon {
		flex-direction: column-reverse;
		/* min-height: 180px; */
	}
	p.resultDeclaration {
		font-size: 2rem;
	}
	.btn--rules {
		/* border: 2px solid var(--HeaderOutline); */
		border: 2px solid #fff;
		padding: 1em 3em;
		text-transform: uppercase;
		color: #fff;
		border-radius: 8px;
		font-weight: var(--fw-medium);
		/* text-align: right; */

		margin-left: auto;
	}
}